.links{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 5%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
        transition: all ease; 
    }
}